.topconatainer{
  background-color: #a3ddcb;
  height: 200px;
  width: 200px;
  border: 10px solid;
  padding: 20px;
}
.middleconatiner{
  background-color: red;
  height:200px;
  width: 200px;
  margin: 260px;
  margin-top: 0;
  margin-bottom: 0;
  border: 20px solid;
}
.bottomcontainer{
  background-color: blue;
  height:200px;
  width: 200px;
  margin: 501px;
  margin-top: 0;
  border: 10px solid;
}
